doctype html
head
  title Instagram for Open house
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')   
  link(rel='icon' type='image/png' href='images/icons/favicon.ico')
  link(rel='stylesheet', type='text/css', href='slick.css')
  link(rel='stylesheet', type='text/css', href='slick-theme.css')
  link(rel='stylesheet', type='text/css', href='indexdata.css')
  link(rel='stylesheet', type='text/css', href='layout.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons' )
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css')
   

body

  .navbar-fixed(style='height:0px')
    nav.red.darken-4.navbaar.navbarz
      // header
      .nav-wrapper
        img.developerlogo(src=`tplogo1.jpg`)
        a.headerlogotext TP Openhouse 2019 &nbsp|&nbsp School of Engineering 
        ul.right.hide-on-med-and-down
          li
            a.linkcolor(onclick='callSort("1")') Most Like
          li(style='padding:2px')  
          li
            a.linkcolor(onclick='callSort("2")') Least Like
          li(style='padding:2px')  
          li
            a.linkcolor(onclick='callSort("3")') Most Recent
          li(style='padding:2px')  
          li
            a.linkcolor(onclick='callSort("4")') Least Recent
          li(style='padding:2px')  
           li
            a.linkcolor(onclick='callLuckDraw()') Lucky draw
  
.content
      // Section: Gallery= To Put text the gallery text
      // All Gallery Simulation code put below empty space
      // border Response-img that to make the folder responsive if remove this, it cant zoom
      // Gallery= Do remember to put class="border materialboxed responsive-img">
      section#gallery.section.section-gallery.scrollspy
        h2.hashtag.movement1 Follow @tpengine &nbsp &nbsp &nbsp &nbsp #tpengine IG Post
        
          // Footer
      footer(style='position:relative;width: 100%;;bottom:0')
        h6.copyrightText.movement2 Developed by Syafiq, Raihan, Hidhir &nbsp|&nbsp Diploma in Computer Engineering
          
          // Javascript Codes to be put below here
          script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js')
