html
  head
    title Instagram for Open house
    link(rel='stylesheet', type='text/css', href='slick.css')
    link(rel='stylesheet', type='text/css', href='slick-theme.css')
    link(rel='stylesheet', type='text/css', href='indexdata.css')
    link(rel='stylesheet', type='text/css', href='layout.css')
  body
    script(type='text/javascript', src='https://code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='slick.min.js')
    script(type='text/javascript').
      $(document).ready(function()
      {
        setInterval(callReload, 120000);
        $('#images').slick(getSliderSettings());
      });

    script(type='text/javascript').
      function callReload()
      {
        $('#images').slick('unslick'); /* ONLY remove the classes and handlers added on initialize */
        $('#images').load("reload", function(responseText, status) 
        {
          if (status === 'success') 
          {
            $('#images').slick(getSliderSettings()); /* Initialize the slick again */
          }
        });
      }

      function getSliderSettings()
      {
        return {
          dots: true,
          infinite: false,
          speed: 300,
          slidesToShow: 4,
          slidesToScroll: 4,
          rows:2,
          autoplay: true,
          autoplaySpeed: 5000,
          infinite: true,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                infinite: true,
                dots: true
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
        
        }     }

      function callSort(sortBy)
      {
        $('#images').slick('unslick');
        $('#images').load("sort", {"sortBy" : sortBy}, function(responseText, status)
        {
          if (status === 'success') 
          {
           $('#images').slick(getSliderSettings());
          }
        })
      }

      function callLuckDraw()
      {
        console.log("Pressed!");
       
        $('#images').load("luckydraw", {"value" : 1}, function(responseText, status)
        {
          if (status === 'success') 
          {
          
          }
        })
      }

      function callDelete(urlID)
      {
        $('#images').slick('unslick');
        $('#images').load("deleteimage", {"urlID" : urlID}, function(responseText, status)
        {
          if (status === 'success') 
          {
            $('#images').slick(getSliderSettings());          
          }
        })
      }

head
  // Import Google Icon Font
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  // Import materialize.css
    link(rel='shortcut icon' type='image/x-icon' href='tp9.jpg')
  //link(type='text/css' rel='stylesheet' href='css/materialize.min.css' media='screen,projection')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
// Class picturewsz is used for animation and its styling is in main.css

.navbar-fixed(style='height:0px')
  nav.red.darken-4.navbaar.navbarz
    // header
    .nav-wrapper
      img.developerlogo(src=`tplogo1.jpg`)
      a.headerlogotext TP Openhouse 2019 &nbsp|&nbsp School of Engineering 
      ul.right.hide-on-med-and-down
        li
          a.linkcolor(onclick='callSort("1")') Most Like
        li(style='padding:2px')  
        li
          a.linkcolor(onclick='callSort("2")') Least Like
        li(style='padding:2px')  
        li
          a.linkcolor(onclick='callSort("3")') Most Recent
        li(style='padding:2px')  
        li
          a.linkcolor(onclick='callSort("4")') Least Recent
        li(style='padding:2px')  
         li
          a.linkcolor(onclick='callLuckDraw()') Lucky draw
          
// Section: Gallery= To Put text the gallery text
link(rel='stylesheet', type='text/css', href='layout.css')
.content
    // Section: Gallery= To Put text the gallery text
    // All Gallery Simulation code put below empty space
    // border Response-img that to make the folder responsive if remove this, it cant zoom
    // Gallery= Do remember to put class="border materialboxed responsive-img">
    section#gallery.section.section-gallery.scrollspy
      h2.hashtag.movement1 Follow @tpengine &nbsp &nbsp &nbsp &nbsp #tpengine IG Post
      
      #images
        each instaObj in instaObjs
          - var found = false;
          each filterImage in filterImages
            if filterImage == instaObj.urlID
              - found = true;
          if found == false
            figure.einzel
              img(src=`${instaObj.url}`, style='width: 800px; height: 600px;', , onclick="callDelete('" + instaObj.urlID + "')")
              img.test1(src='instalove.png', style='width: 65px; height: 65px; bottom: 605px; position: relative;') 
              .likeTextHome
                | #{instaObj.likeCount} 
              figcaption
                | @#{instaObj.username}
                br
       
        // All Gallery Simulation code put UP at empty space
        // Footer
    footer(style='position:relative;width: 100%;;bottom:0')
      h6.copyrightText.movement2 Developed by Syafiq, Raihan, Hidhir &nbsp|&nbsp Diploma in Computer Engineering
        
        // Javascript Codes to be put below here
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js')


