doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style.
      body, html 
      {
      height: 83.2%;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      }
      * {
      box-sizing: border-box;
      }
      .bg-image {
      /* The image used */
      background-image: url(imagez/tp9.jpg);
      /* Add the blur effect */
      filter: blur(8px);
      -webkit-filter: blur(8px);
      /* Full height */
      height: 100%;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      }
      /* Position text in the middle of the page/image */
      .bg-text {
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
      color: white;
      font-weight: bold;
      border: 3px solid #f1f1f1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 80%;
      padding: 20px;
      text-align: center;
      }
      .button 
      {
      padding: 15px 25px;
      font-size: 24px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
      }
      .button:hover {background-color: #3e8e41}
      .button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
      }
      .movement1
      {
      height: 100px;
      font-size: 60px;
      position: relative;
      bottom: 0;
      text-align: center;
      animation: blink 2s infinite;
      }
      /* Blinking of text in the footer*/
      @keyframes blink {
      0% {
      width: 100%;
      color: white;
      }
      25% {
      color: yellow;
      }
      50% {
      color: red;
      }
      75% {
      color: orange;
      }
      100% {
      color: green;
      }
      }
    
  body
    .bg-image
    .bg-text
      #clockdiv

      h1.movement1 #{instaObjs.username}
      button.button(onclick='callLuckDraw()') Click to generate winner
  script.
    function callLuckDraw()
      {
        console.log("Pressed!");
       
        $('#images').load("luckydraw", {"value" : 1}, function(responseText, status)
        {
          if (status === 'success') 
          {
          
          }
        })
      }
    function getTimeRemaining(endtime) {
    var t = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor((t / 100) % 60);
    var minutes = Math.floor((t / 100 / 60) % 60);
    var hours = Math.floor((t / (100 * 60 * 60)) % 24);
    return {
    'total': t,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
    };
   

   