each instaObj in instaObjs
  - var found = false;
  each filterImage in filterImages
    if filterImage == instaObj.urlID
      - found = true;
  if found == false
    figure.einzel
      img(src=`${instaObj.url}`, style='width: 350px; height: 300px ; object-fit:fill;', onclick="callDelete('" + instaObj.urlID + "')")
      img.test1(src='instalove.png', style='width: 65px; height: 65px; bottom: 305px; position: relative;') 
      .likeTextHome
        | #{instaObj.likeCount} 
      figcaption
        | @#{instaObj.username}
        br